%clearfix:after {
  display:block;
  clear:both;
  content:'';
}

%overlay {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $black;
  opacity: 0.80;
}

%article-header {
  text-align: center;
  padding: 40px 20px;
  clear: both;
  p {
    max-width: 600px;
    margin: 10px auto;
  }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}