@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,300italic,400italic,500,700,900|Roboto+Slab:400,300,100,700);

body {
  font-family: 'Roboto',sans-serif;
  color: $dark-blue;
  font-size: 1.5rem;
  font-weight: 300;
}

h1,h2,h3 {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  span {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: block;
    font-size: 60%;
    margin-top: 10px;
  }
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  font-weight: 700;
  &.huge {
    font-size: 4.5rem;
    font-weight: 500;
    span {
      margin-top: 15px;
    }
  }
  @media (min-width: 768px){
    font-size: 4rem;
    &.huge {
      font-size: 6rem;
    }
  }
}

h2 {
  font-weight: 500;
  font-size: 2.5rem;
  span {
    padding: 0;
    font-size: 14px;
    margin-top: 6px;
  }
}

a {
  color: $dark-blue;
}

.label {
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: lighten($text-blue,20%);
}

p,dd {
  line-height: 1.5;
}

.lead {
  font-size: 2rem;
}

.smaller {
  font-size: 85%;
}

dt {
  @extend h2;
  font-size: 1.8rem;
}

dd {
  margin: 8px 0 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #F0F0F0;
  &:last-child {
    border: none;
  }
}

address {
  font-style: normal;
  display: inline-block;
}

.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    background: lighten($grey-blue,39%);
    padding: 4px 8px;
    margin: 4px 3px;
    border-radius: 2px;
    font-size: 1.4rem;
  }
}

.space-top {
  padding-top: 30px;
}

.confirm {
  padding: 20px 40px;
  font-weight: bold;
  margin: 20px auto;
  background: #A0DDAB;
  display: none;
  color: $dark-blue;
  text-shadow: none;
}